<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="students" type="UserSection.StudentSectionHandler,UserSection"/>
    <section name="machines" type="UserSection.MachineSectionHandler,UserSection"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <students>
    <Student>
      <Name>张三</Name>
      <Age>20</Age>
      <Gender>Male</Gender>
      <Grade>G1</Grade>
      <Hobby>旅游</Hobby>
    </Student>

    <Student>
      <Name>李四</Name>
      <Age>20</Age>
      <Gender>Male</Gender>
      <Grade>G1</Grade>
      <Hobby>旅游</Hobby>
    </Student>

    <Student>
      <Name>测试</Name>
      <Age>23</Age>
      <Gender>Female</Gender>
      <Grade>G1</Grade>
      <Hobby>q</Hobby>
    </Student>
   
  </students>

  <machines>
    <Machine>
      <ID>255</ID>
    </Machine>
  </machines>
</configuration>